{% load bootstrap4 %}
{% load static %}
{% load i18n %}


<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>KetaBazan/{% block page_title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static 'css/_base.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body dir="rtl">

<!-- Preloader Start -->
<div class="ShoppingYar-preloader active">
    <div class="ShoppingYar-preloader-inner h-100 d-flex align-items-center justify-content-center">
        <div class="ShoppingYar-child ShoppingYar-bounce1"></div>
        <div class="ShoppingYar-child ShoppingYar-bounce2"></div>
        <div class="ShoppingYar-child zuka-bounce3"></div>
    </div>
</div>
<!-- Preloader End -->


<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Header Start -->
    <header class="header">
        <div class="header-inner fixed-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-10 col-5 col-xs-0 col-none col-sm-block p-0">
                        <nav class="main-navigation">
                            <div class="site-branding">
                                <a href="{% url 'pages:home_page' %}" class="logo">
                                    <figure class="logo--normal d-none d-sm-block">
                                        <img class="px-5" src="{% static 'img/KetaBazan_logo.png' %}"
                                             style="max-height: 180px; margin-bottom: -15px;" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="mainmenu-nav d-none d-lg-block w-100 pr-3">
                                <ul class="mainmenu d-lg-flex jusity-content-end jusity-content-lg-start pt-4">
                                    <li class="mainmenu__item menu-item-has-children active">
                                        <a href="{% url 'bookstore:book_list' %}" class="mainmenu__link">
                                            <span class="mm-text">{% trans 'book list' %}</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="Blog.html" class="mainmenu__link">
                                            <span class="mm-text">وبلاگ</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="#" class="mainmenu__link">
                                            <span class="mm-text">صفحات</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item">
                                        <a href="contact-us.html" class="mainmenu__link">
                                            <span class="mm-text">تماس با ما</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-7 col-12 p-0">
                        <ul class="header-toolbar">
                            <li class="header-toolbar__item">
                                <a href="wishlist.html" class="header-toolbar__btn mx-4">
                                    <i class="flaticon flaticon-like"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item mini-cart-item">
                                <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                    <i class="flaticon flaticon-shopping-cart"></i>
                                    <sup class="mini-cart-count">2</sup>
                                </a>
                            </li>
                            <li class="header-toolbar__item user-info">
                                <a href="my-account.html" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="user-info-menu">
                                    <li>
                                        <a class="text-right" href="my-account.html">حساب کاربری</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="cart.html">سبد خرید</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="wishlist.html">علاقه مندی ها</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="order-tracking.html">تاریخچه سفارشات</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <div class="container mt-2">
        <div class="row">
            <!--Sidebar Start-->
            <div class="col-2" dir="rtl">

                <div class="card my-4">

                    <div class="card-body">
                        <aside id="sidebar" class="sidebar">

                            <ul class="sidebar-nav" id="sidebar-nav">

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="{% url 'pages:home_page' %}">
                                        <i class="bi bi-grid"></i>
                                        <span>{% trans 'Main Page' %}</span>
                                    </a>
                                </li><!-- End Dashboard Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#components-nav"
                                       data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-menu-button-wide"></i><span>{% trans 'Books' %}</span><i
                                            class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="components-alerts.html">
                                                <i class="bi bi-circle"></i><span>Alerts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-accordion.html">
                                                <i class="bi bi-circle"></i><span>Accordion</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-badges.html">
                                                <i class="bi bi-circle"></i><span>Badges</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-breadcrumbs.html">
                                                <i class="bi bi-circle"></i><span>Breadcrumbs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-buttons.html">
                                                <i class="bi bi-circle"></i><span>Buttons</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-cards.html">
                                                <i class="bi bi-circle"></i><span>Cards</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-carousel.html">
                                                <i class="bi bi-circle"></i><span>Carousel</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-list-group.html">
                                                <i class="bi bi-circle"></i><span>List group</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-modal.html">
                                                <i class="bi bi-circle"></i><span>Modal</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-tabs.html">
                                                <i class="bi bi-circle"></i><span>Tabs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-pagination.html">
                                                <i class="bi bi-circle"></i><span>Pagination</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-progress.html">
                                                <i class="bi bi-circle"></i><span>Progress</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-spinners.html">
                                                <i class="bi bi-circle"></i><span>Spinners</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="components-tooltips.html">
                                                <i class="bi bi-circle"></i><span>Tooltips</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li><!-- End Components Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"
                                       href="#">
                                        <i class="bi bi-journal-text"></i><span>{% trans 'Authors' %}</span><i
                                            class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="forms-elements.html">
                                                <i class="bi bi-circle"></i><span>Form Elements</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forms-layouts.html">
                                                <i class="bi bi-circle"></i><span>Form Layouts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forms-editors.html">
                                                <i class="bi bi-circle"></i><span>Form Editors</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forms-validation.html">
                                                <i class="bi bi-circle"></i><span>Form Validation</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li><!-- End Forms Nav -->

                                <li class="nav-item">
                                    <a class="nav-link " data-bs-target="#tables-nav" data-bs-toggle="collapse"
                                       href="#">
                                        <i class="bi bi-layout-text-window-reverse"></i><span>{% trans 'Translators' %}</span>
                                        <i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    {#                                    <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">#}
                                    {#                                        <li>#}
                                    {#                                            <a href="tables-general.html" class="active">#}
                                    {#                                                <i class="bi bi-circle"></i><span>General Tables</span>#}
                                    {#                                            </a>#}
                                    {#                                        </li>#}
                                    {#                                        <li>#}
                                    {#                                            <a href="tables-data.html">#}
                                    {#                                                <i class="bi bi-circle"></i><span>Data Tables</span>#}
                                    {#                                            </a>#}
                                    {#                                        </li>#}
                                    {#                                    </ul>#}
                                </li><!-- End Tables Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse"
                                       href="#">
                                        <i class="bi bi-bar-chart"></i><span>{% trans 'Publishers' %}</span><i
                                            class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="charts-chartjs.html">
                                                <i class="bi bi-circle"></i><span>Chart.js</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="charts-apexcharts.html">
                                                <i class="bi bi-circle"></i><span>ApexCharts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="charts-echarts.html">
                                                <i class="bi bi-circle"></i><span>ECharts</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li><!-- End Charts Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse"
                                       href="#">
                                        <i class="bi bi-gem"></i><span>{% trans 'Subjects' %}</span><i
                                            class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="icons-bootstrap.html">
                                                <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="icons-remix.html">
                                                <i class="bi bi-circle"></i><span>Remix Icons</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="icons-boxicons.html">
                                                <i class="bi bi-circle"></i><span>Boxicons</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li><!-- End Icons Nav -->

                                <li class="nav-heading">Pages</li>

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="users-profile.html">
                                        <i class="bi bi-person"></i>
                                        <span>Profile</span>
                                    </a>
                                </li><!-- End Profile Page Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="pages-faq.html">
                                        <i class="bi bi-question-circle"></i>
                                        <span>F.A.Q</span>
                                    </a>
                                </li><!-- End F.A.Q Page Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="pages-contact.html">
                                        <i class="bi bi-envelope"></i>
                                        <span>Contact</span>
                                    </a>
                                </li><!-- End Contact Page Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="pages-register.html">
                                        <i class="bi bi-card-list"></i>
                                        <span>Register</span>
                                    </a>
                                </li><!-- End Register Page Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="pages-login.html">
                                        <i class="bi bi-box-arrow-in-right"></i>
                                        <span>Login</span>
                                    </a>
                                </li><!-- End Login Page Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="pages-error-404.html">
                                        <i class="bi bi-dash-circle"></i>
                                        <span>Error 404</span>
                                    </a>
                                </li><!-- End Error 404 Page Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="pages-blank.html">
                                        <i class="bi bi-file-earmark"></i>
                                        <span>Blank</span>
                                    </a>
                                </li><!-- End Blank Page Nav -->

                            </ul>

                        </aside>
                    </div>
                </div>
            </div>
            <!--Sidebar End-->


            <!-- content Start -->
            <div class="col-10">
                {% block content %}

                {% endblock %}
                <!-- content End -->
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    {% trans 'welcome' %} {{ user.username }},
    <a href="{% url 'account_logout' %}">{% trans 'logout' %}</a>
{% else %}
    <a href="{% url 'account_login' %}">{% trans 'login' %}</a>
    <a href="{% url 'account_signup' %}">{% trans 'signup' %}</a>
{% endif %}


<!-- Footer Start-->
<footer class="footer">
    <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="footer-widget mb--50">
                        <div class="textwidget">
                            <img src="{% static 'img/KetaBazan_logo.png' %}"
                                 style="max-height: 180px;" alt="Logo">
                        </div>
                    </div>
                    <div class="footer-widget mb--50 pb--1">
                        <ul class="footer-menu">
                            <li><a href="">درباره ما</a></li>
                            <li><a href="">قوانین و مقررات</a></li>
                            <li><a href="">تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        KetaBazan.com © | {% trans 'all rights reserved' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->

<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="{% static 'js/vendor.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>