{% extends '_base.html' %}
{% load i18n %}

{% block page_title %}
    KetaBazan/{{ book.book_name }}
{% endblock %}

{% block content %}
    <h1><b>{{ book.book_name }}</b></h1>
    {% if book.owner == user %}
        <p>
            <a href="{% url 'bookstore:book_update' book.id %}">{% trans 'Edit' %}</a>
            <a href="{% url 'bookstore:book_delete' book.id %}">{% trans 'delete' %}</a>
        </p>
    {% endif %}

    <h4>نویسنده: {{ book.book_author }}</h4>

    {% if book.book_translator %}
        <h4>مترجم: {{ book.book_translator }}</h4>
    {% endif %}

    <p><small>انتشارات: {{ book.book_publisher }}</small></p>

    <p><small>سال انتشار: {{ book.publication_year }}</small></p>
    <p><small>تعداد صفحات: {{ book.book_pages }}</small></p>
    <p><small>قیمت: {{ book.book_price }}</small></p>
    <p><small>موضوع: {{ book.subject }}</small></p>
    <br>
    <p>{{ book.book_introduction|linebreaksbr }}</p>

{% endblock %}
