{% extends '_base.html' %}
{% load i18n %}

{% block page_title %}
    KetaBazan/{% trans 'book lists' %}
{% endblock %}

{% block content %}

    {% for book_list in book_lists %}
        <h1>{% trans 'book name' %}: {{ book_list.book_name }}</h1>
        <h4>{% trans 'book author' %}: {{ book_list.book_author }}</h4>
        <small>{{ book_list.datetime_modified }}</small>
        <p>{{ book_list.book_introduction|linebreaksbr|truncatewords:50 }}</p>
        <a href="{{ book_list.get_absolute_url }}">{% trans 'ReadMore' %}</a>

        <hr>
    {% endfor %}

{% endblock %}